
/* Navigasjonsbar for desktop(widescreen) */
.ul_nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #F3D503;
  }

.ul_nav > li {
    float: left;
  }
  
.ul_nav li > a {
    display: block;
    color: black;
    font-size: xx-large;
    font-family: 'Helvetica', serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }




  /* Change the link color to #111 (black) on hover */
.ul_nav li > a:hover {
    background-color: rgb(136, 106, 106);
  }


/* Grid and grid area. */
/*<!-- Grid code courtesy of https://www.youtube.com/watch?v=tPosqmwIx0w -->*/

/* Here you will have the ability to change styling for the different pages. Since we use grid area
you'll also be able to change the structure easy. */

/*As we wanted full freedom over where and how we would place every paragraph, title and picture in each page, we decided
to designate every each element their class. This way we can place the paragraphs and pictures as we pleace in grid area*/


/*Grid container for the hompeage*/
.grid_container_homepage{
  margin-top: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            ". intro intro intro ."
            ". paragraph1 paragraph1 logo ."
            ". paragraph2 paragraph2 paragraph2 .";
}

/*Grid container for the Reflection page*/
.grid_container_reflection{
  margin-top: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            ". intro intro intro ."
            ". paragraph1 paragraph1 paragraph1 ."
            ". paragraph2 paragraph2 picture1 ."
            ". paragraph3 paragraph3 paragraph3 ."
            ". picture3 paragraph4 paragraph4 ."
            ". paragraph5 paragraph5 paragraph5 ."
            ". paragraph6 paragraph6 paragraph6 .";
}


/*Grid container for the Accessibility page*/
.grid_container_accessibility{
  margin-top: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            ". intro intro intro ."
            ". paragraph1 paragraph1 paragraph1 ."
            ". paragraph2 paragraph2 paragraph2 ."
            ". errors errors errors ."
            ". paragraph3 paragraph3 paragraph3 ."
            ". mindmap mindmap mindmap ."
            ". paragraph4 paragraph4 paragraph4 ."
            ". paragraph5 paragraph5 paragraph5 ."
            ". paragraph6 paragraph6 paragraph6 .";
}

/*Grid container for the topical information page*/
.grid_container_topical{
  margin-top: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            ". intro intro intro ." 
            ". paragraph1 paragraph1 paragraph1 ."
            ". subheader1 subheader1 subheader1 ."
            ". paragraph2 paragraph2 paragraph2 ."
            ". paragraph3 paragraph3 paragraph3 ."
            ". picture1 paragraph4 paragraph4 ."
            ". subheader2 subheader2 subheader2 ."
            ". paragraph5 paragraph5 paragraph5 ."
            ". paragraph6 paragraph6 picture2 ."
            ". paragraph7 paragraph7 paragraph7 .";
}

/*The most amount of paragraphs we use in one page is seven. This is why we have designated seven paragraphs.
If you or another future developer want to add more paragraphs to a page, you can do this easily by designating 
more paragraphs below. The same solution is true for pictures and titles aswell*/

.paragraph1{
  grid-area: paragraph1;
  font-family: 'Tahoma', serif;
  font-size: x-large;
}

.paragraph2{
  grid-area: paragraph2;
  font-family: 'Tahoma', serif;
  font-size: x-large;
}

.paragraph3{
  grid-area: paragraph3;
  font-family: 'Tahoma', serif;
  font-size: x-large;
}

.paragraph4{
  grid-area: paragraph4;
  font-family: 'Tahoma', serif;
  font-size: x-large;
}

.paragraph5{
  grid-area: paragraph5;
  font-family: 'Tahoma', serif;
  font-size: x-large;
}

.paragraph6{
  grid-area: paragraph6;
  font-family: 'Tahoma', serif;
  font-size: x-large;
}

.paragraph7{
  grid-area: paragraph7;
  font-family: 'Tahoma', serif;
  font-size: x-large;
}

/* List of subheaders (h2)*/

.subheader1{
  grid-area: subheader1;
  font-family: 'Helvetica', serif;
  font-size: x-large;
}

.subheader2{
  grid-area: subheader2;
  font-family: 'Helvetica', serif;
  font-size: x-large;
}

.picture1{
  grid-area: picture1;
  margin: auto;
  padding: 3%;
}

.picture2{
  grid-area: picture2;
  margin: auto;
  padding: 3%;
}

.picture3{
  grid-area: picture3;
  margin: auto;
  padding: 3%;
}

.picture1 > img,
.picture2 > img,
.picture3 > img{
  width: 100%;
  max-width: 250px;
  box-shadow: 5px 5px 5px black;
}

.errors > img,
.mindmap > img{
  width: 100%;
  box-shadow: 5px 5px 5px black;
}

.errors{
  grid-area: errors;
  margin: auto;
  padding: 3%;
}

.mindmap{
  grid-area: mindmap;
  margin: auto;
  padding: 3%;
}

.intro{
  grid-area: intro;
  font-family: 'Helvetica', serif;
  font-size: x-large;
}
.logo{
  grid-area: logo;
  margin: auto;
  
}
.logo > img{
  width: 80%;
  max-width: 250px;
}

.main_reflection{
  grid-area: main_reflection;
  font-family: 'Tahoma', serif;
  font-size: xx-large;
}