.ul_top {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F3D503;
  }
  
.ul_top > li {
    float: left;
  }
  
.ul_top li > a {
    display: block;
    color: black;
    font-size: xx-large;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #logo{
      background-image: url("../Images/logo.jpg");
      background-size: contain;
      background-repeat: no-repeat;
  }
    #logo > a{
        color: transparent;
    }
    
      
  
  .top_logo{
      width: 100%;
      padding: 0%;
      margin: 0%;
      border: 0;
      overflow: hidden;
  }
  
  /* Change the link color to #111 (black) on hover */
.ul_top li > a:hover {
    background-color: rgb(136, 106, 106);
  }