
/* Navigasjonsbar for desktop(widescreen) */
.ul_top {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #F3D503;
  }
  
.ul_top > li {
    float: left;
  }
  
.ul_top li > a {
    display: block;
    color: black;
    font-size: xx-large;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #logo{
      background-image: url("../Images/logo.jpg");
      background-size: contain;
      background-repeat: no-repeat;
  }
    #logo > a{
        color: transparent;
  }
    
  
  .top_logo{
      width: 100%;
      padding: 0%;
      margin: 0%;
      border: 0;
  }
  
  /* Change the link color to #111 (black) on hover */
.ul_top li > a:hover {
    background-color: rgb(136, 106, 106);
  }

/* Grid Oppsett */
.grid_container{
  margin-top: 5%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
            ". intro intro logo ."
            ". intro intro logo ."
            ". main main main .";
}





.Intro{
  grid-area: intro;
  font-size: xx-large;
}
.logo{
  grid-area: logo;
  margin: auto;
  
}
.logo > img{
  width: 100%;
  
}

.main{
  grid-area: main;
  font-size: xx-large;
}

