
/* Navigasjonsbar for desktop(widescreen) */
.ul_nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F3D503;
  }
  
.ul_nav > li {
    float: left;
  }
  
.ul_nav li > a {
    display: block;
    color: black;
    font-size: 85%;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 2% 3%;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
.ul_nav li > a:hover {
    background-color: rgb(136, 106, 106);
  }

/* Grid Oppsett */
.grid_container_homepage{
  margin-bottom: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            " intro intro intro "
            " paragraph1 paragraph1 logo "
            " paragraph2 paragraph2 paragraph2 ";
}

.grid_container_reflection{
  margin-bottom: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            " intro intro intro "
            " paragraph1 paragraph1 paragraph1 "
            " paragraph2 paragraph2 picture1 "
            " paragraph3 paragraph3 paragraph3 "
            " picture3 paragraph4 paragraph4 "
            " paragraph5 paragraph5 paragraph5 "
            " paragraph6 paragraph6 paragraph6 ";
}

.grid_container_accessibility{
  margin-bottom: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            "intro intro intro"
            " paragraph1 paragraph1 paragraph1 "
            " paragraph2 paragraph2 paragraph2 "
            " errors errors errors "
            " paragraph3 paragraph3 paragraph3 "
            " mindmap mindmap mindmap "
            " paragraph4 paragraph4 paragraph4 "
            " paragraph5 paragraph5 paragraph5 "
            " paragraph6 paragraph6 paragraph6 ";
}

.grid_container_topical{
  margin-bottom: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            " intro intro intro "
            " paragraph1 paragraph1 paragraph1 "
            " subparagraph1 subparagraph1 subparagraph1 "
            " paragraph2 paragraph2 paragraph2 "
            " paragraph3 paragraph3 paragraph3 "
            " picture1 paragraph4 paragraph4 "
            " subparagraph2 subparagraph2 subparagraph2 "
            " paragraph5 paragraph5 paragraph5 "
            " paragraph6 paragraph6 picture2 "
            " paragraph7 paragraph7 paragraph7 ";
}

.paragraph1{
  grid-area: paragraph1;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.paragraph2{
  grid-area: paragraph2;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.paragraph3{
  grid-area: paragraph3;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.paragraph4{
  grid-area: paragraph4;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.paragraph5{
  grid-area: paragraph5;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.paragraph6{
  grid-area: paragraph6;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.paragraph7{
  grid-area: paragraph7;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.subparagraph1{
  grid-area: subparagraph1;
  font-family: Helvetica, sans-serif;
  font-size: small;
}

.subparagraph2{
  grid-area: subparagraph2;
  font-family: Helvetica, sans-serif;
  font-size: small;
}

.picture1{
  grid-area: picture1;
  margin: auto;
  padding: 3%;
}

.picture2{
  grid-area: picture2;
  margin: auto;
  padding: 3%;
}

.picture3{
  grid-area: picture3;
  margin: auto;
  padding: 3%;
}

.picture1 > img,
.picture2 > img,
.picture3 > img{
  width: 100%;
  box-shadow: 5px 5px 5px black;
}

.errors > img,
.mindmap > img{
  width: 100%;
  box-shadow: 5px 5px 5px black;
}

.errors{
  grid-area: errors;
  margin: auto;
  padding: 3%;
}

.mindmap{
  grid-area: mindmap;
  margin: auto;
  padding: 3%;
}

.intro{
  grid-area: intro;
  font-family: Helvetica, sans-serif;
  font-size: small;
}
.logo{
  grid-area: logo;
  margin: auto;
  
}
.logo > img{
  width: 80%;
  max-width: 250px;
}

.main_reflection{
  grid-area: main_reflection;
  font-family: 'Tahoma', serif;
  font-size: small;
}

