
/* Navigasjonsbar for desktop(widescreen) */
.ul_nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #F3D503;
  }
  
.ul_nav > li {
    float: left;
  }
  
.ul_nav li > a {
    display: block;
    color: black;
    font-size: large;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
    
  
  .top_logo{
      width: 100%;
      padding: 0%;
      margin: 0%;
      border: 0;
  }
  
  /* Change the link color to #111 (black) on hover */
.ul_nav li > a:hover {
    background-color: rgb(136, 106, 106);
  }

/* Grid Oppsett */
.grid_container{
  margin-top: 3%;
  display: grid;
  grid-gap: 30px;
  margin-bottom: 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
            ". intro intro logo ."
            ". intro intro logo ."
            ". main main main .";
}




.Intro{
  grid-area: intro;
  font-family: 'Merriweather', serif;
  font-size: xx-large;
}
.logo{
  grid-area: logo;
  margin: auto;
  
}
.logo > img{
  width: 100%;
  
}

.main{
  grid-area: main;
  font-family: 'Merriweather', serif;
  font-size: xx-large;
}

