
/* Navigasjonsbar for desktop(widescreen) */
.ul_nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F3D503;
  }
  
.ul_nav > li {
    float: left;
  }
  
.ul_nav li > a {
    display: block;
    color: black;
    font-size: 85%;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 2% 3%;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
.ul_nav li > a:hover {
    background-color: rgb(136, 106, 106);
  }

/* Grid Oppsett */
.grid_container_homepage{
  margin-bottom: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            " intro intro intro "
            " avsnitt1 avsnitt1 logo "
            " avsnitt2 avsnitt2 avsnitt2 ";
}

.grid_container_reflection{
  margin-bottom: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            " intro intro intro "
            " avsnitt1 avsnitt1 avsnitt1 "
            " avsnitt2 avsnitt2 bilde1 "
            " avsnitt3 avsnitt3 avsnitt3 "
            " bilde3 avsnitt4 avsnitt4 "
            " avsnitt5 avsnitt5 avsnitt5 "
            " avsnitt6 avsnitt6 avsnitt6 ";
}

.grid_container_accessibility{
  margin-bottom: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            " intro intro intro "
            " avsnitt1 avsnitt1 avsnitt1 "
            " avsnitt2 avsnitt2 avsnitt2 "
            " errors errors errors ."
            " avsnitt3 avsnitt3 avsnitt3 "
            " mindmap mindmap mindmap ."
            " avsnitt4 avsnitt4 avsnitt4 "
            " avsnitt5 avsnitt5 avsnitt5 "
            " avsnitt6 avsnitt6 avsnitt6 ";
}

.grid_container_topical{
  margin-bottom: 5%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:
            " intro intro intro "
            " avsnitt1 avsnitt1 avsnitt1 "
            " underoverskrift1 underoverskrift1 underoverskrift1 "
            " avsnitt2 avsnitt2 bilde1 "
            " avsnitt3 avsnitt3 avsnitt3 "
            " bilde2 avsnitt4 avsnitt4 "
            " underoverskrift2 underoverskrift2 underoverskrift2 "
            " avsnitt5 avsnitt5 avsnitt5 "
            " avsnitt6 avsnitt6 bilde3 "
            " avsnitt7 avsnitt7 avsnitt7 ";
}

.avsnitt1{
  grid-area: avsnitt1;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.avsnitt2{
  grid-area: avsnitt2;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.avsnitt3{
  grid-area: avsnitt3;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.avsnitt4{
  grid-area: avsnitt4;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.avsnitt5{
  grid-area: avsnitt5;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.avsnitt6{
  grid-area: avsnitt6;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.avsnitt7{
  grid-area: avsnitt7;
  font-family: 'Tahoma', serif;
  font-size: small;
}

.underoverskrift1{
  grid-area: underoverskrift1;
  font-family: 'Merriweather', serif;
  font-size: small;
}

.underoverskrift2{
  grid-area: underoverskrift2;
  font-family: 'Merriweather', serif;
  font-size: small;
}

.bilde1{
  grid-area: bilde1;
  margin: auto;
  padding: 3%;
}

.bilde2{
  grid-area: bilde2;
  margin: auto;
  padding: 3%;
}

.bilde3{
  grid-area: bilde3;
  margin: auto;
  padding: 3%;
}

#errors > img,
#mindmap > img,
.bilde1 > img,
.bilde2 > img,
.bilde3 > img{
  width: 100%;
  box-shadow: 5px 5px 5px black;
}

#errors{
  grid-area: errors;
  margin: auto;
  padding: 3%;
}

#mindmap{
  grid-area: mindmap;
  margin: auto;
  padding: 3%;
}

.intro{
  grid-area: intro;
  font-family: 'Merriweather', serif;
  font-size: small;
}
.logo{
  grid-area: logo;
  margin: auto;
  
}
.logo > img{
  width: 80%;
  max-width: 250px;
}

.main_reflection{
  grid-area: main_reflection;
  font-family: 'Tahoma', serif;
  font-size: small;
}

